/* _section.sass */


section
    margin-top: 30px
    display: flex
    padding-left: 10%
    padding-right: 10%
article.recent-publish
    display: flex
    justify-content: space-around
    flex: 70%
    flex-flow: row wrap
div.recent-blog
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-flow: column
    width: 45%
    img
        height: 160px
        width: 100%
    h4.blog-title
        font-size: 1.7em
    div.content
        color: darken($white-color, 65%)
    img, h4, h5
        margin-bottom: 5px
    div.content
        margin-bottom: 60px
