{% extends "Blog/details.html" %}
{% block title %}Esta Pagina{% endblock title %}
{% block article-title %}Esta pagina{% endblock article-title %}
{% block article-content %}
    <h4 class="subtitle-post">Que es este blog</h4>
    <div class="element-content">
        <p>
            Pagina desarrollada para el proyecto de la celula CIRT en la Universidad Tecnológica del Centro.
            Es una pagina realizada con el framework django exclusivamente sin hacer uso de algun otro framework
            para diseño (bootstrap, angularjs..)
        </p>

    </div>
{% endblock article-content %}
{% block outside %}{% endblock %}