{% extends "Blog/details.html" %}
{% block title %}Esta Pagina{% endblock title %}
{% block article-title %}Esta pagina{% endblock article-title %}
{% block article-content %}
    <h4 class="subtitle-post">Que es Archlinux blog</h4>
    <div class="element-content">
        <img src="https://raw.githubusercontent.com/aitbw/cirt_projects/master/images/logo_cirt.png" alt=""/>
        <p>
            Pagina desarrollada para el proyecto de la celula CIRT en la Universidad Tecnológica del Centro.
        </p>

    </div>
{% endblock article-content %}
{% block outside %}{% endblock %}