{% extends "Blog/base.html" %}
{% block ttle %}Esta Pagina{% endblock ttle %}
{% block content %}
<article class="detail-post">
    <h3 class="title-post">Esta pagina</h3>
    <div class="content-detail-post">
        <h4 class="subtitle-post">Que es Archlinux blog</h4>
        <div class="element-content">
            <img src="https://raw.githubusercontent.com/aitbw/cirt_projects/master/images/logo_cirt.png" alt="" />
            <p>
                Pagina desarrollada para el proyecto de la celula CIRT en la Universidad Tecnológica del Centro.
            </p>

        </div>

    </div>
</article>

{% endblock content %}
